
.icon-down-dir-1:before { content: '\e804'; } /* '' */
.icon-left-dir-1:before { content: '\e805'; } /* '' */
.icon-right-dir-1:before { content: '\e806'; } /* '' */
.icon-up-dir-1:before { content: '\e807'; } /* '' */